PORT=5000
# Example MongoDB Atlas URI: mongodb+srv://username:password@cluster.mongodb.net/anpr_city_intelligence?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/anpr_city_intelligence
CLIENT_URL=http://localhost:5173
PYTHON_PATH=python
AI_MODEL_PATH=../AI-Model/models/custom_trained_model.pt
